@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.ant-carousel .slick-dots {
  background-color: lightgrey;
  display: flex;
  height: 20px;
}

.ant-carousel .slick-dots li,.ant-carousel .slick-dots li.slick-active {
  height: 100%;
  width: 100%;
}
.ant-carousel .slick-dots li button {
  height: 100%;
}